<div id="background" class="w-100 position-fixed" style="background-color: rgba(0,0,0,0.5); height: 100%;z-index: 100;display:none;top:0">
    <div class="spinner-border text-light" role="status" style="position: absolute;top:50%;left:50%">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div id="footerArea">
    <p>2020 - team23h corp </p>
</div>