<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/adminCommon.js"></script>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<Script src="/js/ckeditor/ckeditor.js"></Script>
<script src="/js/ckeditor/ko.js"></script>
</html>
