<!DOCTYPE HTML>
<html>
<head>
    <title>team23hAdmin</title>
    <meta http-equiv="Content-Type" content="text/html" ; charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/admin/css/default.css" />
    <link rel="stylesheet" href="/admin/css/layout.css" />
    <link rel="stylesheet" href="/admin/css/form.css" />
    <link rel="stylesheet" href="/admin/css/common.css" />
    <link rel="stylesheet" href="/admin/css/content.css" />
    <link rel="stylesheet" href="/admin/css/csslibrary.css" />


</head>