    <hr class="my-3" />
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-12 text-center">
                Total visitor: {{viewCount}} , Today visitor: {{todayViewCount}} <br />
            </div>
        </div>
    </div>
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-12 text-center">
                Service provided by team23h. <br />
                Contributors: padagi20, nicol, little-kingdom, nottwo and jajuku.<br />
                All data, service, marks, and copyrights are the property of their respective owners.<br />
            </div>
        </div>
    </div>

    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/common.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script>
        $(function () {
            let currentUrl = location.pathname;
            $('.nav-link').each(function(){
                $(this).removeClass("active");
            });
            if (currentUrl.indexOf("bbs") > -1) {
                $('#'+ currentUrl.replace(/\//gi, '')).addClass("active");
                $('#' + currentUrl.replace(/\//gi, '')).find('.sr-only').text('current');
            }else{
                $('#main').addClass("active");
                $('#main').find('.sr-only').text('current');
            }
        });
    </script>
    </body>
</html>