    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <p style="text-align: center;font-size:0.6rem;color:#909090">Service provided by team23h.<br />
                    Contributors: padagi20, nicol, little-kingdom, nottwo and jajuku.<br/>
                    All data, service, marks, and copyrights are the property of their respective owners.
                </p>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="/js/jquery-ui.js"></script>
    <script src="/js/index.js"> </script>
    </body>
</html>