    <hr class="my-3" />
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-12 text-center">
                Total visitor: {{viewCount}} , Today's Visits: {{todayViewCount}} <br />
            </div>
        </div>
    </div>
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-12 text-center">
                Services provided by Final Lap.<br />
                Contributors: padagi20, nicol, little-kingdom and jajuku.<br />
                All data, services, marks, and copyrights are the property of their respective owners.<br />
            </div>
        </div>
    </div>

    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/common.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/ckeditor/ckeditor.js"></script>
    <script>
        $(function () {
            let currentUrl = location.pathname;
            $('.nav-link').each(function(){
                $(this).removeClass("active");
            });
            if (currentUrl.indexOf("bbs") > -1) {
                if(currentUrl.lastIndexOf("/") > 4){
                    currentUrl = currentUrl.substring(0,6);
                }
                $('#'+ currentUrl.replace(/\//gi, '')).addClass("active");
                $('#'+ currentUrl.replace(/\//gi, '')).find('.sr-only').text('current');
            }else if(currentUrl.indexOf("calendar") > -1){
                $('#calendar').addClass("active");
                $('#calendar').find('.sr-only').text('current');
            } else{
                $('#main').addClass("active");
                $('#main').find('.sr-only').text('current');
            }
        });
    </script>
    </body>
</html>