<!DOCTYPE HTML>
<html>
<head>
    {{>layout/analytics}}
    <title>Final Lap</title>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
    <link rel="stylesheet" href="/css/jquery-ui.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css?v=1.4">
    <link rel="stylesheet" href="/css/team23H.css?v=1.2">
    <link rel="stylesheet" href="/css/content-style.css">
    <script async charset="utf-8" src="//cdn.embedly.com/widgets/platform.js"></script>
    <link rel="shortcut icon" href="/image/favicon.ico" type="image/x-icon">
</head>
<body>
{{>layout/menu}}
{{>layout/background}}