<!DOCTYPE HTML>
<html>
<head>
    <title>Assetto Corsa Competizione Time Trial @ JAJUKU Server</title>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/jquery-ui.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css?v=1.3">
    <link rel="stylesheet" href="/css/team23H.css">

</head>
<body>