<!DOCTYPE HTML>
<html>
<head>
    <title>Assetto Corsa Competizione Time Trial @ JAJUKU Server</title>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/jquery-ui.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css?v=1.4">
    <link rel="stylesheet" href="/css/team23H.css">

</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/">
        <span class="mobile-view">ACC Time Trial @ JAJUKU</span>
        <span class="pc-view">Assetto Corsa Competizione Time Trial @ JAJUKU Server</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a id="main" class="nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a id="bbs" class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">게시판</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    {{#bbsList}}
                        <a class="dropdown-item" href="/bbs/{{seq}}">{{bbsName}}</a>
                    {{/bbsList}}
                </div>
            </li>
        </ul>
    </div>
</nav>
<div id="background" class="w-100 p-3 position-fixed" style="background-color: rgba(0,0,0,0.5); height: 100%;z-index: 100;display:none;">
    <div class="spinner-border text-light" role="status" style="position: absolute;top:50%;left:50%">
        <span class="sr-only">Loading...</span>
    </div>
</div>