<!DOCTYPE HTML>
<html>
<head>
    <title>Assetto Corsa Competizione Time Trial @ JAJUKU Server</title>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
    <link rel="stylesheet" href="/css/jquery-ui.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css?v=1.4">
    <link rel="stylesheet" href="/css/team23H.css">

</head>
<body>
{{>layout/menu}}
<div id="background" class="w-100 p-3 position-fixed" style="background-color: rgba(0,0,0,0.5); height: 100%;z-index: 100;display:none;">
    <div class="spinner-border text-light" role="status" style="position: absolute;top:50%;left:50%">
        <span class="sr-only">Loading...</span>
    </div>
</div>