<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top bg-black">
    <a class="navbar-brand" href="/" >
        <img src="/image/logo.jpg" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item nav-menu_23h">
                <a id="bbs1" class="nav-link" href="/bbs/1">Notice <span class="sr-only"></span></a>
            </li>
            <li class="nav-item nav-menu_23h">
                <a id="main" class="nav-link" href="/">Time Trial <span class="sr-only"></span></a>
            </li>
            <li class="nav-item nav-menu_23h">
                <a id="bbs2" class="nav-link" href="/bbs/2">League <span class="sr-only"></span></a>
            </li>
            <li class="nav-item nav-menu_23h">
                <a id="result" class="nav-link" href="/result">Result <span class="sr-only"></span></a>
            </li>
            <li class="nav-item nav-menu_23h">
                <a id="bbs3" class="nav-link" href="/bbs/3">Free Board <span class="sr-only"></span></a>
            </li>
        </ul>
    </div>
</nav>