{{>admin/layout/header}}
<body>
<div id="wrap">
    <div class="inWrap">
        {{>admin/layout/lnb}}
        <div id="container">
            {{>admin/layout/topBar}}
            <div class="content">
                <form action="/fileUpload" method="post" enctype="multipart/form-data">
                    <input type="file" name="uplaodFile"/>
                    <button type="submit">저장</button>
                </form>
                <div class="mt10">
                    <button id="avataCall">드라이버 스팀 이미지 불러오기</button>
                </div>
            </div>
        </div>
        {{>admin/layout/bodyFooter}}
    </div>
</div>
</body>
{{>admin/layout/footer}}
<script>
    $(function () {
        $('#avataCall').click(function () {
            common.ajax("GET", "/admin/steam/api/getPlayer", '', "json", 'application/json; charset=utf-8', function (data) {
                alert('이미지 불러오기를 완료 하였습니다.');
            });
        });
    });

</script>