{{>admin/layout/header}}
<body>
<div id="wrap">
    <div class="inWrap">
        {{>admin/layout/lnb}}
        <div id="container">
            {{>admin/layout/topbar}}
            <div class="content">
            </div>
        </div>
        {{>admin/layout/bodyFooter}}
    </div>
</div>
</body>
{{>admin/layout/footer}}