<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyyMMdd HH:mm:ss.SSS} [%thread] %-3level %logger{5} - %msg %n</pattern>
        </encoder>
    </appender>

    <!--<logger name="jdbc.sqlonly" level="INFO"/>
    <logger name="jdbc.resultsettable" level="INFO"/>-->
    <logger name="info.team23h" level="FATAL" />
    <root level="FATAL">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>