<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}][%thread][%c] [%L] [%p] %m %n</pattern>
        </encoder>
    </appender>

    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/home/ubuntu/logs/logback/catalina.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>/home/ubuntu/logs/logback-%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}][%thread][%c{0}] [%L] [%p] %m %n</pattern>
        </encoder>
    </appender>

    <!--<logger name="jdbc.sqlonly" level="INFO"/>
    <logger name="jdbc.resultsettable" level="INFO"/>-->
    <logger name="info.team23h" level="ERROR" />
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ROLLING"/>
    </root>

</configuration>
