<configuration scan="true" scanPeriod="30 seconds">

    <property name="LOG_PATH" value="C:\\logs\\log\\"/>
    <property name="LOG_FILE" value="catalina.log"/>
    <property name="LOG_ERROR_FILE" value="error.log"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%logger{36}] [%L] [%-5level] - %msg%n</Pattern>
        </layout>
    </appender>
    <!-- Loggers -->
    <logger name="org.springframework" level="INFO"/>
    <logger name="info.team23h" level="DEBUG"/>
    <logger name="jdbc.sqlonly" level="INFO"/>
    <logger name="jdbc.resultset" level="WARN"/>
    <logger name="jdbc.resultsettable" level="INFO"/>
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE"/>
    <logger name="log4jdbc.log4j2" level="WARN" />

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>