{{>layout/header}}

<main role="main" class="container">
    <div class="row justify-content-center">
        <div class="col-6 text-center m-2">
            <h3>{{title}}</h3>
        </div>
    </div>
    <div class="row justify-content-center">
        {{#data}}
            <table class="table table-hover">
                <colgroup>
                    <col width="20%" />
                    <col width="*"/>
                    <col width="20%"/>
                </colgroup>
                <thead class="">
                    <th class="text-center">No</th>
                    <th>Title</th>
                    <th>Writer</th>
                </thead>
                <tbody id="boardList">
                    {{#list}}
                        <tr>
                            <td class="text-center">{{no}}</td>
                            <td>
                                <a href="/bbs/{{nameSeq}}/{{seq}}"><b>{{title}}</b>
                                    {{#commentCnt}}
                                        <small>({{commentCnt}})</small>
                                    {{/commentCnt}}
                                </a>
                            </td>
                            <td>{{regId}}</td>
                        </tr>
                    {{/list}}
                </tbody>
            </table>            
            {{^list}}
                <div class="col-12 text-center" >
                    There are no {{title}}
                </div>
            {{/list}}
        {{/data}}
    </div>
    <div class="row justify-content-center">
        <div class="col-12 ">
            <input type="hidden" value="{{data.search.currentPage}}" id="currentPage" />
            <input type="hidden" value="{{data.search.nameSeq}}" id="nameSeq" />
            <button type="button" class="btn btn-secondary"  id="btn-more" style="display:none;">More</button>
        </div>
    </div>
    {{#write}}
        <div class="row">
            <div class="col-12 text-right">
                <button type="button" id="write" class="btn btn-primary">Register</button>
            </div>
        </div>
    {{/write}}
</main>
{{>layout/footer}}
<script src="/js/board.js"></script>
<script>
    $(function(){
        board.init();
        board.moreBtnCheck({{data.search.totalCount}},{{data.search.currentPage}},{{data.search.pageCount}});
    });
</script>
