{{>layout/header}}

<main role="main" class="container">
    <div class="row justify-content-center">
        <div class="col-6 text-center m-2">
            <h3>{{title}}</h3>
        </div>
    </div>
    <div class="row justify-content-center">
        {{#data}}
            <table class="table table-hover">
                <colgroup>
                    <col width="20%" />
                    <col width="*"/>
                    <col width="20%"/>
                </colgroup>
                <thead class="">
                    <th class="text-center">글번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                </thead>
                <tbody id="boardList">
                    {{#list}}
                        <tr>
                            <td class="text-center">{{no}}</td>
                            <td>
                                <a href="/bbs/{{nameSeq}}/{{seq}}"><b>{{title}}</b>
                                    {{#commentCntViewer}}
                                        <small>({{commentCntViewer}})</small>
                                    {{/commentCntViewer}}
                                </a>
                            </td>
                            <td>{{regId}}</td>
                        </tr>
                    {{/list}}
                </tbody>
            </table>
            <div class="row justify-content-center">
                <div class="col-12 ">
                    <input type="hidden" value="{{data.search.currentPage}}" id="currentPage" />
                    <input type="hidden" value="{{data.search.nameSeq}}" id="nameSeq" />
                    <button type="button" class="btn btn-secondary" id="btn-more">더보기</button>
                </div>
            </div>
            {{^list}}
                <div class="col-12 text-center" >
                    {{title}}이 없습니다.
                </div>
            {{/list}}
        {{/data}}
    </div>
    {{#write}}
        <div class="row">

        </div>
    {{/write}}
</main>
{{>layout/footer}}
<script src="/js/board.js"></script>
<script>
    $(function(){
        board.init();
        board.moreBtnCheck({{data.search.totalCount}},{{data.search.currentPage}},{{data.search.pageCount}});
    });
</script>
