{{>layout/header}}

<main role="main" class="container">
    <div class="row justify-content-center">
        <div class="col-6 text-center m-2">
            <h3>{{title}}</h3>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12">
            <form id="frm">
                <input type="hidden" id="nameSeq" name="nameSeq" value="{{bbsNameSeq}}"/>
                <input type="hidden" id="seq" name="seq" value="{{bbsSeq}}" />
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="Title"  value="{{data.bbsVO.title}}"/>
                </div>
                <div class="form-group">
                    <label for="author">Write</label>
                    <input type="text" class="form-control" id="regId" name="regId" placeholder="Writer" value="{{data.bbsVO.regId}}" readonly="readonly" />
                </div>
                <div class="form-group">
                    <label for="content">Content</label>
                    <textarea class="form-control" id="content" name="content" placeholder="Content" rows="10">{{data.bbsVO.content}}</textarea>
                </div>
            </form>

        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 text-right">
            <a href="/bbs/{{bbsNameSeq}}/{{bbsSeq}}" role="button" class="btn btn-secondary">cancel</a>
            <button type="button" class="btn btn-primary" id="btn-del">delete</button>
            <button type="button" class="btn btn-primary" id="btn-update">modify</button>
       </div>
    </div>
</main>
{{>layout/footer}}
<script src="/js/board.js"></script>
<script>
    $(function(){
        board.update();
    });
</script>
