{{>layout/header}}

<main role="main" class="container">
    <div class="row justify-content-center">
        <div class="col-6 text-center m-2">
            <h3>{{title}}</h3>
        </div>
    </div>
    <div class="jumbotron">
        <div class="row">
            <div class="col-12">
                <h4>{{data.bbsVO.title}}&nbsp;<small class="text-muted h-4">{{data.bbsVO.regName}}</small></h4>
            </div>
        </div>
        <hr class="my-1"/>
        <p>{{{data.bbsVO.content}}}</p>
    </div>
    <div class="row justify-content-center">
        <div class="col-12">
            <table class="table table-sm table-striped">
                <colgroup>
                    <col width="20%">
                    <col width="*">
                </colgroup>
                <tbody id="commentList">
                    {{#data.bbsVO.commentList}}
                        <tr>
                            <td>
                                {{regId}}
                            </td>
                            <td>
                                {{comment}}
                            </td>
                        </tr>
                    {{/data.bbsVO.commentList}}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <input type="text" class="form-control" id="regId" name="regId" placeholder="Write"  />
                    </div>
                </div>
                <div class="col-9">
                    <div class="form-group">
                        <input type="text" class="form-control" id="comment" name="comment" placeholder="Comment" />
                    </div>
                </div>
            </div>

        </div>
        <div class="col-2 pc-view">
            <button type="button" class="btn btn-primary btn-comment-save col-12" data-seq="{{data.bbsVO.seq}}">Register</button>
        </div>
        <div class="col-lg-12 mobile-view">
            <button type="button" class="btn btn-primary btn-comment-save col-12 " data-seq="{{data.bbsVO.seq}}">Register</button>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-12 text-right">
            <a href="/bbs/{{bbsNameSeq}}" role="button" class="btn btn-secondary">list</a>
        </div>
    </div>
</main>
{{>layout/footer}}
<script src="/js/board.js"></script>
<script>
    $(function(){
        board.view();
    });
    document.querySelectorAll('oembed[url]').forEach(element => {
        // Create the <a href="..." class="embedly-card"></a> element that Embedly uses
        // to discover the media.
        const anchor = document.createElement('a');

        anchor.setAttribute('href', element.getAttribute('url'));
        anchor.className = 'embedly-card';

        element.appendChild(anchor);
    });

</script>
