{{>layout/header}}

<main role="main" class="container">
    <div class="row justify-content-center">
        <div class="col-6 text-center m-2">
            <h3>{{title}}</h3>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12">
            <form id="frm">
                <input type="hidden" id="nameSeq" name="nameSeq" value="{{bbsNameSeq}}"/>
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="Title" />
                </div>
                <div class="form-group">
                    <label for="author">Writer</label>
                    <input type="text" class="form-control" id="regId" name="regId" placeholder="Writer" {{^write}} value="관리자" readonly="readonly"{{/write}} />
                </div>
                {{#write}}
                    <div class="form-group">
                        <label for="author">password</label>
                        <input type="text" class="form-control" id="author" name="password" placeholder="password" />
                    </div>
                {{/write}}
                <div class="form-group">
                    <label for="content">Content</label>
                    <textarea class="form-control" id="content" name="content" placeholder="내용을 입력하세요" rows="10"></textarea>
                    <!--<div id="content"></div>-->
                </div>
                {{#write}}

                {{/write}}
            </form>

        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 text-right">
            <a href="/bbs/{{bbsNameSeq}}" role="button" class="btn btn-secondary">취소</a>
            <button type="button" class="btn btn-primary" id="btn-save">등록</button>
        </div>
    </div>
</main>
{{>layout/footer}}
<script src="/js/board.js"></script>
<script>
    $(function(){
        board.write();
    });
</script>
