<div>
    <div class="btnArea txtR">
        <b>
            총 : {{totalDriver}} 드라이버
            트랙명 :
            {{#eventMeta.trackViewName}}
                {{eventMeta.trackViewName}}
            {{/eventMeta.trackViewName}}
            {{^eventMeta.trackViewName}}
                {{eventMeta.trackName}}
            {{/eventMeta.trackViewName}}
        </b>
        <a href="javascript:void(0);" id="btnResultDel" class="btn btnBlue btnPopIns" data-eventinfoseq="{{eventInfoVO.eventInfoSeq}}" data-round="{{eventInfoVO.round}}">삭제</a>
    </div>
</div>
<table class="listTable mt10">
    <colgroup>
        <col width="5%" />
        <col width="10%" />
        <col width="10%" />
        <col width="5%" />
        <col width="5%" />
        <col width="5%" />
        <col width="5%" />
        <col width="5%" />
        <col width="5%" />
        <col width="5%" />
    </colgroup>
    <thead>
        <tr>
            <th>순위</th>
            <th>드라이버</th>
            <th>차량명</th>
            <th>점수</th>
            <th>핸디캡</th>
            <th>레이스 타임</th>
            <th>패널티</th>
            <th>최종 타임</th>
            <th>최종 랩</th>
            <th>베스트 랩</th>
        </tr>
    </thead>
    <tbody>
        {{#result}}
        <tr>
           <td>{{RANK}}</td>
           <td>
               {{#STEAM_AVATAR}}
                   <div style="float:left">
                       <img src="{{STEAM_AVATAR}}" class="rounded-circle" />
                   </div>
               {{/STEAM_AVATAR}}
               <a href="#" class="lapDetail" data-carid="{{CAR_ID}}" data-playername="{{FIRST_NAME}} {{LAST_NAME}}">
                    {{FIRST_NAME}} {{LAST_NAME}}
               </a>
           </td>
            <td>{{CAR_NAME}}</td>
            <td><b>{{SCORE}}</b></td>
            <td><b style="color:red;">{{HANDICAP}}</b></td>
            <td>{{RACE_TIME}}</td>
            <td>{{PENALTY}}</td>
            <td>{{TOTAL_TIME}}</td>
            <td>{{TOTAL_LAP}}</td>
            <td>{{BEST_LAP}}</td>
        </tr>
       {{/result}}
    </tbody>
</table>
<div class="mt10">
    <div class="txtL">
        <h2>패널티 정보</h2>
    </div>

</div>
<table class="listTable mt10">
    <thead>
        <tr>
            <th>드라이버</th>
            <th>사유</th>
            <th>패널티 종류</th>
            <th>추가 시간(초)</th>
        </tr>
    </thead>
    <tbody>
    {{#penaltyList}}
        <tr>
            <td>
                {{#steamAvatar}}
                    <div style="float:left">
                        <img src="{{steamAvatar}}" class="rounded-circle" />
                    </div>
                {{/steamAvatar}}
                {{firstName}} {{lastName}}
            </td>
            <td>
                {{reason}}
            </td>
            <td>
                {{penalty}}
            </td>
            <td>
                {{addTime}}
            </td>
        </tr>
    {{/penaltyList}}
    </tbody>

</table>
<script>
    $(function () {
        race.roundResultInit();
    });
</script>