{{>admin/layout/header}}
<body>
<div id="wrap">
	<div class="inWrap">
		{{>admin/layout/lnb}}
		<div id="container">
			{{>admin/layout/topBar}}
			<div class="location">
				<em class="home">HOME</em><i></i>
				<em>팀관리</em><i></i>
				<em class="active">팀 점수</em>
			</div>
			<div class="content">
				<div class="box">
					<div class="inBox">
						<form id="searchFrm" action="/admin/team/team" method="get">
							<table class="formTable">
								<colgroup>
									<col width="10%" />
									<col width="*" />
									<col width="10%" />
								</colgroup>
								<tbody>
									<tr>
										<th>기간 선택</th>
										<td>
											<select id="teamInfoSeq" name="teamInfoSeq">
												<option value="">선택</option>
												{{#eventList}}
													<option value="{{eventDt}}"> {{eventDt}}</option>
												{{/eventList}}
											</select>
										</td>
										<td><a href="javascript:void(0)" id="btnSearch" class="btn btnBi btnBlue">조회</a></td>
									</tr>
								</tbody>
							</table>
						</form>
					</div>
				</div>
				<div class="box">
					<div class="inBox">
						<table class="listTable mt10">
							<colgroup>
								<col width="50%" />
								<col width="20%" />
							</colgroup>
							<thead>
							<tr>
								<th>드라이버 명(first/last)</th>
								<th>삭제</th>
							</tr>
							</thead>
							<tbody id="teamSearch">
								<tr>
									<td colspan="2">팀을 선택하세요</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		{{>admin/layout/bodyFooter}}
	</div>
</div>
</body>
{{>admin/layout/footer}}
<script src="/js/adminTeam.js"></script>
<script>
	$(function () {
		team.init();
	});

</script>