{{>layout/header}}
<main role="main" class="container">
    <div class="row">
        <div class="col-12 text-center">
            페이지 오류 발생 관리자에게 문의해주세요.
        </div>
    </div>
</main>
{{>layout/footer}}
