<!DOCTYPE HTML>
<table class="table table-striped">
    <tr>
        <th>trackName</th>
        <th>Car</th>
        <th>Best Lap</th>
        <th>Best S1</th>
        <th>Best S2</th>
        <th>Best S3</th>
        <th>Potential</th>
    </tr>

    {{#playerRecordList}}
        <tr>
            <td>
                <input type="hidden" class="popDriverName" value="{{firstName}} {{lastName}}"/>
                {{#trackViewName}}{{trackViewName}}{{/trackViewName}}{{^trackViewName}}{{trackName}}{{/trackViewName}}
            </td>
            <td>{{carName}}</td>
            <td><strong>{{bestLapView}}</strong></td>
            <td>{{sector1View}}</td>
            <td>{{sector2View}}</td>
            <td>{{sector3View}}</td>
            <td>{{potentialView}}</td>

        </tr>
    {{/playerRecordList}}
</table>
<script>
    $(function () {
        index.driverDetail();
    });
</script>