<!DOCTYPE HTML>
<table class="table table-striped">
    <tr>
        <th>trackName</th>
        <th>Car</th>
        <th>Best Lap</th>
    </tr>
    {{#playerRecordList}}
        <tr>
            <td>
                <input type="hidden" class="popDriverName" value="{{firstName}} {{lastName}}"/>
                <input type="hidden" class="popPlayerId" value="{{searchVO.playerId}}" />
                <input type="hidden" class="ttScore" value="{{ttScore}}"/>
                {{#trackViewName}}{{trackViewName}}{{/trackViewName}}{{^trackViewName}}{{trackName}}{{/trackViewName}}
            </td>
            <td>{{carName}}</td>
            <td><strong>{{bestLapView}}</strong></td>
        </tr>
    {{/playerRecordList}}
</table>
<script>
    $(function () {
        index.driverDetail();
    });
</script>