<!DOCTYPE HTML>
{{#recordList}}
    <tr>
        <td style="text-align: center;">
            {{#rankImg}}
                <img src="{{rankImg}}" class="img-fluid lank-img" />
            {{/rankImg}}
            {{^rankImg}}
                {{rank}}
            {{/rankImg}}
        </td>
        <td>
            <a href="#" class="driverDetail" data-toggle="modal" data-target="#staticBackdrop" data-playerid="{{playerId}}">
                {{#steamAvatar}}
                    <div style="float:left">
                        <img src="{{steamAvatar}}" class="rounded-circle"/>
                    </div>                                
                {{/steamAvatar}}
                <div style="overflow:hidden;padding-left:10px">
                    {{firstName}} {{lastName}}
                </div>               
            </a>
        </td>
        <td>        
            <a href="javascript:void(0)" class="carDetail" data-toggle="modal" data-target="#carModal" data-carmodel="{{carModel}}">{{carName}}</a>
        </td>
        <td><strong>{{bestLapView}}</strong></td>
        <td style="text-align: right">
            <div class="row">
                <div class="col-10">
                    {{#gap}}
                        +{{gap}}
                    {{/gap}}
                </div>
            </div>
        </td>
        <td class="pcview">{{sector1View}}</td>
        <td class="pcview">{{sector2View}}</td>
        <td class="pcview">{{sector3View}}</td>
        <td class="pcview">{{potentialView}}</td>
        <!--<td style="text-align: center">{{!lapCount}}</td>-->
    </tr>
{{/recordList}}
