<!DOCTYPE HTML>
{{#recordList}}
    <tr>
        <td style="text-align: center;">
            {{#rankImg}}
                <img src="{{rankImg}}" width="80" />
            {{/rankImg}}
            {{^rankImg}}
                {{rank}}
            {{/rankImg}}
        </td>
        <td><a href="#" class="driverDetail" data-toggle="modal" data-target="#staticBackdrop" data-playerid="{{playerId}}">{{firstName}} {{lastName}}</a></td>
        <td>{{carName}}</td>
        <td><strong>{{bestLapView}}</strong></td>
        <td style="text-align: right">
            <div class="row">
                <div class="col-10">
                    {{#gap}}
                        +{{gap}}
                    {{/gap}}
                </div>
            </div>
        </td>
        <td>{{sector1View}}</td>
        <td>{{sector2View}}</td>
        <td>{{sector3View}}</td>
        <td>{{potentialView}}</td>
        <!--<td style="text-align: center">{{lapCount}}</td>-->
    </tr>
{{/recordList}}