{{>admin/layout/header}}
<body>
    <div id="wrap">
        <div class="inWrap">
            {{>admin/layout/lnb}}
            <div id="container">
                {{>admin/layout/topbar}}
                <div class="location">
                    <em class="home">HOME</em><i></i>
                    <em>게시판관리</em><i></i>
                    <em class="active">{{bbsName}}</em>
                </div>
                <div class="content">
                    <div class="box">
                        <div class="inBox">
                            <form id="searchFrm" action="/admin/board/{{data.search.nameSeq}}" method="post">
                                <input type="hidden" id="currentPage" name="currentPage" value="{{data.search.currentPage}}" />
                                <input type="hidden" id="nameSeq" name="nameSeq" value="{{data.search.nameSeq}}"/>
                                <table class="formTable">
                                    <colgroup>
                                        <col width="150px" />
                                        <col width="100px" />
                                        <col width="100px" />
                                        <col width="150px" />
                                        <col width="100px" />
                                        <col width="100px" />
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <th>제목</th>
                                            <td colspan="2"><input type="text" id="keyword" name="keyword" value="{{data.search.keyword}}" class="textType" /></td>
                                            <th>작성자</th>
                                            <td colspan="2"><input type="text" id="schRegUserName" name="schRegUserName" value="{{data.search.schRegUserName}}" class="textType" /></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="btnArea mt20">
                                    <a href="#" id="btnSearch" class="btn btnBi btnBlue">검색</a>
                                    <a href="#" id="btnClear" class="btn btnBi btnDefalt">초기화</a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="box">
                        <div class="inBox">
                            <div class="btnArea txtR">
                                <a href="javascript:void(0);" id="btnRegister" class="btn btnBlue btnPopIns">등록</a>
                            </div>
                            <table class="listTable mt10">
                                <colgroup>
                                    <col width="5%" />
                                    <col width="*" />
                                    <col width="150px" />
                                    <col width="150px" />
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>No</th>
                                    <th>제목</th>
                                    <th>작성자</th>
                                    <th>작성일</th>
                                </tr>
                                </thead>
                                <tbody >
                                {{#data.list}}
                                    <tr>
                                        <td>{{no}}</td>
                                        <td><a href="javascript:void(0);" class="detailBtn" data-bbsseq="{{seq}}">{{title}}{{#commentCnt}} <small>({{commentCnt}})</small>{{/commentCnt}}</a></td>
                                        <td>{{regName}}</td>
                                        <td>{{regDt}}</td>
                                    </tr>
                                {{/data.list}}
                                {{^data.list}}
                                    <tr>
                                        <td colspan="4">
                                            <p class="noDate">데이터가 없습니다.</p>
                                        </td>
                                    </tr>
                                {{/data.list}}
                                </tbody>
                            </table>

                            {{{data.page.paging}}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{>admin/layout/bodyFooter}}
    </div>

</body>
{{>admin/layout/footer}}
<script src="/js/adminBoard.js"></script>
<script>
    $(function () {
        board.init();
    });

    function paging(page) {
        $('#currentPage').val(page);
        $('#searchFrm').submit();
    }
</script>